#{extends 'AdminController/admin.html' /} 
#{set title:'成员列表' /}
#{include 'AdminController/nav.html'/}
#{include 'AdminController/sidebar.html'/}
#{set 'moreStyles' }
	<link href="/public/stylesheets/bootstrap/bootstrap-table.css" rel="stylesheet">
#{/set}


<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
			<li class="active">成员列表</li>
		</ol>
	</div><!--/.row-->
	
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">成员列表</h1>
		</div>
	</div><!--/.row-->
			
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">全部成员列表</div>
				<div class="panel-body">
					<p class="toolbar">
			            <span class="alert"></span>
			        </p>
					<table id="table" data-toggle="table" data-query-params="queryParams" data-toolbar=".toolbar" data-side-pagination="server" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="createDate" data-sort-order="desc">
					    <thead>
					    <tr>
					       		<th data-field="state" data-checkbox="true" ></th>
						        <th data-field="id" data-sortable="true">成员ID</th>
						        <th data-field="community.name"  data-sortable="true">圈子名称</th>
						        <th data-field="user.mobile"  data-sortable="true">手机号</th>
						        <th data-field="nickname"  data-sortable="true" data-formatter="sub10Formatter">昵称</th>
						        <th data-field="role"  data-sortable="true" data-formatter="roleFormatter">用户角色</th>
						        <th data-field="requestStatus"  data-sortable="true" data-formatter="requestStatusFormatter">审核</th>
						        <th data-field="status" data-sortable="true" data-formatter="statusFormatter">状态</th>
						        <th data-field="communityId"  data-sortable="true" data-formatter="communityIdFormatter">所属圈子</th>
						         <th data-field="communityUserId"  data-sortable="true" data-formatter="userFormatter">用户信息</th>
						        <th data-field="createDate" data-sortable="true" data-formatter="dateFormatter">创建日期</th>
						        <th data-field="updateDate" data-sortable="true" data-formatter="dateFormatter">修改日期</th>
						        <th data-field="action"
				                    data-align="center"
				                    data-formatter="actionFormatter"
				                    data-events="actionEvents">操作</th>
					    </tr>
					    </thead>
					</table>
				</div>
			</div>
		</div>
	</div><!--/.row-->
		
</div><!--/.main-->

#{set 'moreScripts' }
	<script src="/public/javascripts/bootstrap/bootstrap-table.js"></script>
	<script src="/public/javascripts/datetime/date-format.js"></script>
	<script type="text/javascript">
		
		var API_URL_GET = '/community/admin/members/data';
		var API_URL_DELETE = '/community/admin/members/remove?';
		var API_URL_SETMANAGER = '/community/admin/members/set/manager?';
		var API_URL_CANCELMANAGER = '/community/admin/members/cancel/manager?';
		var API_URL_JOIN_SUCCESS = '/community/admin/members/joinsuccess?';
		var API_URL_JOIN_FAILURE = '/community/admin/members/joinfailure?';
		var $table = $('#table').bootstrapTable({url:API_URL_GET}),
	    $modal = $('#modal').modal({show: false}),
	    $alert = $('.alert').hide();

		window.actionEvents = {
		    'click .remove': function (e, value, row) {
		        if (confirm('真的要删除吗?')) {
		            $.ajax({
		                url: API_URL_DELETE + 'communityId='+ row.communityId + '&memberId=' + row.communityUserId,
		                type: 'get',
		                success: function () {
		                    $table.bootstrapTable('refresh');
		                    showAlert('删除成功!', 'success');
		                },
		                error: function () {
		                    showAlert('删除失败!', 'danger');
		                }
		            })
		        }
		    },
		    'click .join_success': function (e, value, row) {
		        if (confirm('真的要审核通过吗?')) {
		            $.ajax({
		                url: API_URL_JOIN_SUCCESS + 'communityId='+ row.communityId + '&memberId=' + row.communityUserId,
		                type: 'get',
		                success: function () {
		                    $table.bootstrapTable('refresh');
		                    showAlert('审核通过!', 'success');
		                },
		                error: function () {
		                    showAlert('失败!', 'danger');
		                }
		            })
		        }
		    },
		    'click .join_failure': function (e, value, row) {
		        if (confirm('真的要审核不通过吗?')) {
		            $.ajax({
		                url: API_URL_JOIN_FAILURE + 'communityId='+ row.communityId + '&memberId=' + row.communityUserId,
		                type: 'get',
		                success: function () {
		                    $table.bootstrapTable('refresh');
		                    showAlert('审核不通过成功!', 'success');
		                },
		                error: function () {
		                    showAlert('失败!', 'danger');
		                }
		            })
		        }
		    },
		    'click .setmanager': function (e, value, row) {
		        if (confirm('真的要设置成管理员吗?')) {
		            $.ajax({
		                url: API_URL_SETMANAGER + 'communityId='+ row.communityId + '&memberId=' + row.communityUserId,
		                type: 'get',
		                success: function () {
		                    $table.bootstrapTable('refresh');
		                    showAlert('设置管理员成功!', 'success');
		                },
		                error: function () {
		                    showAlert('失败!', 'danger');
		                }
		            })
		        }
		    },
		    'click .cancel_manager': function (e, value, row) {
		        if (confirm('真的要取消管理员吗?')) {
		            $.ajax({
		                url: API_URL_CANCELMANAGER + 'communityId='+ row.communityId + '&memberId=' + row.communityUserId,
		                type: 'get',
		                success: function () {
		                    $table.bootstrapTable('refresh');
		                    showAlert('取消管理员成功!', 'success');
		                },
		                error: function () {
		                    showAlert('失败!', 'danger');
		                }
		            })
		        }
		    }
		};
		
		function showAlert(title, type) {
		    $alert.attr('class', 'alert alert-' + type || 'success')
		          .html('<i class="glyphicon glyphicon-check"></i> ' + title).show();
		    setTimeout(function () {
		        $alert.hide();
		    }, 3000);
		}
		
		function queryParams(params) {
			#{if communityid}
			$.extend(params,{'communityId':'${communityid}'});
			#{/if}
		    return params;
		}
	</script>
	<script type="text/javascript">
	
		function sub10Formatter(value) {
			if(value){
				return value.substring(0,10);
			}
			return "";
		}
		function userFormatter(value) {
			return '<a href="/community/admin/users?userid='+value+'">查看</span>';
		}
		function requestStatusFormatter(value) {
			if(value==1){
				return '<span class="label label-success">已审核</span>';
			}else if(value==0){
				return '<span class="label label-default">未审核</span>';
			}else if(value==2){
				return '<span class="label label-default">已移除</span>';
			}
			
		}
		function statusFormatter(value) {
			if(value){
				return '<span class="label label-success">通过</span>';
			}
			return '<span class="label label-default">未通过</span>';
		}
		function roleFormatter(value) {
			if(value==0){
				return '<span class="label label-default">普通成员</span>';
			}
			if(value==1){
				return '<span class="label label-warning">管理员</span>';
			}
			if(value==2){
				return '<span class="label label-danger">圈主</span>';
			}
		}
		function cutstrFormatter(value) {
			if(value){
				if(value.length>50){
					return value.substring(0,80)+'...[未显示'+(value.length-80)+'字]';
				}
				return value;
			}
			return '';
		}
		function communityIdFormatter(value) {
			return '<a href="/community/admin/communitys?communityid='+value+'">查看</span>';
		}
		function actionFormatter(value) {
		    return [
		        '<a class="join_success" style="margin-left: 5px;" href="javascript:" title="审核通过"><i class="glyphicon glyphicon-ok"></i></a>',
		        '<a class="join_failure" style="margin-left: 5px;" href="javascript:" title="审核不通过"><i class="glyphicon glyphicon-remove"></i></a>',
		        '<a class="setmanager" style="margin-left: 5px;" href="javascript:" title="设置管理员"><i class="glyphicon glyphicon-user"></i></a>',
		        '<a class="cancel_manager" style="color: black;margin-left: 5px;" href="javascript:" title="取消管理员"><i class="glyphicon glyphicon-user"></i></a>',
		        '<a class="remove" style="margin-left: 5px;" href="javascript:" title="删除"><i class="glyphicon glyphicon-remove-circle"></i></a>'
		        ].join('');
		}
		
	</script>
#{/set}

