<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
	<form role="search" action="/admin/search">
		<div class="form-group">
			<input type="text" class="form-control" name="q" placeholder="暂时这里不支持搜索">
		</div>
	</form>
	<ul class="nav menu">
		<li #{if menu=='admin'}class="active"#{/if}><a href="/admin"><span class="glyphicon glyphicon-dashboard"></span> 控制台</a></li>
		<li #{if menu=='category'}class="active"#{/if}><a href="/admin/categories"><span class="glyphicon glyphicon-list"></span> 分类列表</a></li>
		<li #{if menu=='post'}class="active"#{/if}><a href="/admin/posts"><span class="glyphicon glyphicon-list-alt"></span> 文章列表</a></li>
		<li #{if menu=='comment'}class="active"#{/if}><a href="/admin/comments"><span class="glyphicon glyphicon-comment"></span> 评论列表</a></li>
		<li #{if menu=='tag'}class="active"#{/if}><a href="/admin/tags"><span class="glyphicon glyphicon-tag"></span> 标签列表</a></li>
		#{secure.check 'admin'}
		<li #{if menu=='user'}class="active"#{/if}><a href="/admin/users"><span class="glyphicon glyphicon-user"></span> 用户列表</a></li>
		<li #{if menu=='user_profile'}class="active"#{/if}><a href="/admin/users/profile"><span class="glyphicon glyphicon-user"></span> 用户资料</a></li>
		#{/secure.check}
	</ul>
	<div class="attribution">Copyright &copy; 2015. All Rights Reserved by <a href="http://open.hm55.cn">open.hm55.cn</a>.</div>
</div><!--/.sidebar-->