#{extends 'AdminController/admin.html' /} 
#{set title:'创建分类' /}
#{include 'AdminController/nav.html'/}
#{include 'AdminController/sidebar.html'/}
#{set 'moreStyles' }
	<link href="/public/stylesheets/bootstrap/bootstrap-table.css" rel="stylesheet">
#{/set}


<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
			<li class="active">创建分类</li>
		</ol>
	</div><!--/.row-->
	
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">创建分类</h1>
		</div>
	</div><!--/.row-->
			
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">填写分类信息</div>
				<div class="panel-body">
					<div class="toolbar">
			            #{ifErrors}
			               <div class="alert alert-danger alert-dismissible" role="alert">
							  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							  <ul>
							   #{errors}
							   	 <li>${error}</li>
							   #{/errors}
						      </ul>
						   </div>
						#{/ifErrors}
			        </div>
			        <form action="/admin/categories/create" method="post">
				        <div class="form-group">
                        <label>分类名称</label>
                        <input type="text" class="form-control" name="category.category" placeholder="分类名称" value="${flash['category.category']}">
                    </div>
                    <div class="form-group">
                        <label>分类描述</label>
                        <input type="text" class="form-control" name="category.description" placeholder="分类描述" value="${flash['category.description']}">
                    </div>
                    <div class="form-group">
                        <label class="control-label">父分类</label>
                        <select class="form-control" name="category.parent">
                        	#{list items:categories, as:'category'}
	                        	#{if category}
	                        		<option ${category.id==flash['category.id']?'selected="selected"':''} value="${category.id}">${category.category}</option>
	                        	#{/if}
                        	#{/list}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>分类排序</label>
                        <input type="text" class="form-control" name="category.categoryOrder" placeholder="分类排序" value="${flash['category.categoryOrder']}">
                    </div>
                    <div class="form-group">
                        <label>推荐</label>
                    	<div>
                    		<label class="radio-inline">
                        		<input type="radio"  name="category.recommend" ${flash['category.recommend']?'checked':''} value="true">推荐
	                        </label>
	                        <label class="radio-inline">
	                        	<input type="radio"  name="category.recommend" ${flash['category.recommend']==null?'checked':''} ${flash['category.recommend']?'checked':''} value="false">普通
	                        </label>
                    	</div>
                    </div>
	                    <div class="form-group">
	                    	<button type="submit" class="btn btn-primary">提交</button>
	                    </div>
			        </form>
				</div>
			</div>
		</div>
	</div><!--/.row-->
</div><!--/.main-->

#{set 'moreScripts' }
#{/set}

