body {
    background:#f3f3f3;
}
.hm-border-rect {
    background-color: #fff;
    border-color: #ddd;
    border-radius: 0px;
    border-width: 1px;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
    border-style: solid;
    padding: 15px 10px;
}
.nav{
    margin-bottom: -21px;
}
.hm-index-nav-tabs{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.hm-index-nav-tabs > h2{
    font-size: 20px;
    margin: 0;
    position: absolute;
}