#{extends 'AdminController/admin.html' /} 
#{set title:'修改文章' /}
#{include 'AdminController/nav.html'/}
#{include 'AdminController/sidebar.html'/}
#{set 'moreStyles' }
	<link href="/public/stylesheets/bootstrap/bootstrap-table.css" rel="stylesheet">
	<link rel="stylesheet" href="/public/simditor/simditor.css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/public/simditor/simditor-html.css" media="screen" charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/public/webuploader/webuploader.css">
    
#{/set}


<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
			<li class="active">修改文章</li>
		</ol>
	</div><!--/.row-->
	
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">修改文章</h1>
		</div>
	</div><!--/.row-->
	<form action="/admin/posts/modify?id=${post.id}" method="post">	
		<div class="row">
			<div class="col-lg-9">
				<div class="panel panel-default">
					<div class="panel-heading">填写文章信息</div>
					<div class="panel-body">
						<div class="toolbar">
				            #{ifErrors}
				               <div class="alert alert-danger alert-dismissible" role="alert">
								  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								  <ul>
								   #{errors}
								   	 <li>${error}</li>
								   #{/errors}
							      </ul>
							   </div>
							#{/ifErrors}
				        </div>
				        <div class="form-group">
	                        <label>文章标题</label>
	                        <input type="text" class="form-control" name="post.title" placeholder="文章标题" value="${post.title}">
	                    </div>
	                    <div class="form-group">
	                        <label>文章子标题</label>
	                        <input type="text" class="form-control" name="post.subtitle" placeholder="文章子标题" value="${post.subtitle}">
	                    </div>
	                    <div class="form-group">
	                        <label>文章简介</label>
	                    	<textarea id="post_introdution"  class="form-control" name="post.introduction" placeholder="文章简介" rows="3">
	                        	${post.introduction}
	                        </textarea>    
	                    </div>
	                    <div class="form-group">
	                        <label>文章内容</label>
	                    	<textarea id="post_content" class="form-control" name="post.content" placeholder="文章内容">
	                        	${post.content}
	                        </textarea>    
	                    </div>
				         <div class="form-group">
	                        <label>推荐</label>
	                    	<div>
	                    		<label class="radio-inline">
	                        		<input type="radio"  name="post.recommend" ${post.recommend?'checked':''} value="true">推荐
		                        </label>
		                        <label class="radio-inline">
		                        	<input type="radio"  name="post.recommend" ${post.recommend?'':'checked'} value="false">普通
		                        </label>
	                    	</div>
	                    </div>
	                     <div class="form-group">
	                        <label>热文</label>
	                    	<div>
	                    		<label class="radio-inline">
	                        		<input type="radio"  name="post.hot" ${post.hot?'checked':''} value="true">热文
		                        </label>
		                        <label class="radio-inline">
		                        	<input type="radio"  name="post.hot" ${post.hot?'':'checked'} value="false">普通
		                        </label>
	                    	</div>
	                    </div>
	                     <div class="form-group">
	                        <label>首页滚动</label>
	                    	<div>
	                    		<label class="radio-inline">
	                        		<input type="radio"  name="post.banner" ${post.banner?'checked':''} value="true">滚动
		                        </label>
		                        <label class="radio-inline">
		                        	<input type="radio"  name="post.banner" ${post.banner?'':'checked'} value="false">普通
		                        </label>
	                    	</div>
	                    </div>
	                    <div class="form-group">
	                    	<button type="submit" class="btn btn-primary">提交</button>
	                    </div>
					</div>
				</div>
			</div>
			<div class="col-lg-3" >
				<div class="panel panel-default">
					<div class="panel-heading">文章分类</div>
					<div class="panel-body">
						<div class="form-group">
	                        <select class="form-control" name="post.categories.id" multiple="multiple">
	                        	<option value="">默认分类</option>
	                        	#{list items:categories, as:'category'}
		                        	#{if category}
		                        		<option 
		                        		#{list items:post.categories, as:'pcategory'}
		                        			${pcategory.id==category.id?'selected="selected"':''} 
		                        		#{/list}
		                        		value="${category.id}">${category.category}</option>
		                        	#{/if}
	                        	#{/list}
	                        </select>
                    	</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">封面图</div>
					<div class="panel-body">
						<div class="form-group">
							<div id="uploader-demo">
							    <!--用来存放item-->
							    <div id="fileList" class="uploader-list"></div>
							    <div id="filePicker">选择图片</div>
							</div>
							<input type="hidden" id="coverImage" name="post.coverImage">
							<input type="hidden" id="coverImageAlt" name="post.coverImageAlt">
		                </div>
					</div>
				</div>
			</div>
		</div><!--/.row-->
	</form>
</div><!--/.main-->

#{set 'moreScripts' }
<script type="text/javascript" src="/public/simditor/module.js"></script>
<script type="text/javascript" src="/public/simditor/hotkeys.js"></script>
<script type="text/javascript" src="/public/simditor/uploader.js"></script>
<script type="text/javascript" src="/public/simditor/simditor.js"></script>
<script type="text/javascript" src="/public/simditor/beautify-html.js"></script>
<script type="text/javascript" src="/public/simditor/simditor-html.js"></script>
<script type="text/javascript" src="/public/webuploader/webuploader.js"></script>
<script type="text/javascript">
  $(function() {
    var introdution = new Simditor({
      textarea: $('#post_introdution'),
      toolbar: []
    });
    var content = new Simditor({
        textarea: $('#post_content'),
        toolbar: ['title',
                  'bold',
                  'italic',
                  'underline',
                  'strikethrough',
                  'color',
                  'ol',             
                  'ul',             
                  'blockquote',
                  'code',           
                  'table',
                  'link',
                  'image',
                  'hr',            
                  'indent',
                  'outdent',
                  'alignment'
                  ],
        upload : {  
            url : '/upload/file', //文件上传的接口地址  
            params: null, //键值对,指定文件上传接口的额外参数,上传的时候随文件一起提交  
            fileKey: 'file', //服务器端获取文件数据的参数名  
            connectionCount: 3,  
            leaveConfirm: '正在上传文件'  
        }
      });
  });
  
//图片上传demo
  jQuery(function() {
      var $ = jQuery,
          $list = $('#fileList'),
          // 优化retina, 在retina下这个值是2
          ratio = window.devicePixelRatio || 1,

          // 缩略图大小
          thumbnailWidth = 100 * ratio,
          thumbnailHeight = 100 * ratio,

          // Web Uploader实例
          uploader;

      // 初始化Web Uploader
      uploader = WebUploader.create({

          // 自动上传。
          auto: true,

          // swf文件路径
          swf: '/public/webuploader/Uploader.swf',

          // 文件接收服务端。
          server: '/upload/file',

          // 选择文件的按钮。可选。
          // 内部根据当前运行是创建，可能是input元素，也可能是flash.
          pick: '#filePicker',
          
          //限制文件个数
          fileNumLimit:1,
          
          // 只允许选择文件，可选。
          accept: {
              title: 'Images',
              extensions: 'gif,jpg,jpeg,bmp,png',
              mimeTypes: 'image/*'
          }
      });

      // 当有文件添加进来的时候
      uploader.on( 'fileQueued', function( file ) {
          var $li = $(
                  '<div id="' + file.id + '" class="file-item thumbnail">' +
                      '<img>' +
                  '</div>'
                  ),
              $img = $li.find('img');

          $list.append( $li );

          // 创建缩略图
          uploader.makeThumb( file, function( error, src ) {
              if ( error ) {
                  $img.replaceWith('<span>不能预览</span>');
                  return;
              }

              $img.attr( 'src', src );
          }, thumbnailWidth, thumbnailHeight );
      });

      // 文件上传过程中创建进度条实时显示。
      uploader.on( 'uploadProgress', function( file, percentage ) {
          var $li = $( '#'+file.id ),
              $percent = $li.find('.progress span');

          // 避免重复创建
          if ( !$percent.length ) {
              $percent = $('<p class="progress"><span></span></p>')
                      .appendTo( $li )
                      .find('span');
          }

          $percent.css( 'width', percentage * 100 + '%' );
      });

      // 文件上传成功，给item添加成功class, 用样式标记上传成功。
      uploader.on( 'uploadSuccess', function( file ,response) {
          $( '#'+file.id ).addClass('upload-state-done');
          $('#coverImage').val(response.file_path);
          $('#coverImageAlt').val(file.name);
      });

      // 文件上传失败，现实上传出错。
      uploader.on( 'uploadError', function( file ) {
          var $li = $( '#'+file.id ),
              $error = $li.find('div.error');

          // 避免重复创建
          if ( !$error.length ) {
              $error = $('<div class="error"></div>').appendTo( $li );
          }

          $error.text('上传失败');
      });

      // 完成上传完了，成功或者失败，先删除进度条。
      uploader.on( 'uploadComplete', function( file ) {
          $( '#'+file.id ).find('.progress').remove();
      });
  });
</script>
#{/set}

