﻿#{extends 'main.html' /}
#{set title:'Home' /}

<div class="container" role="main">

    <div class="row">
        <div class="col-lg-8 hm-border-rect">
        <div class="col-lg-12 hm-index-nav-tabs">
            <h2><i class="glyphicon glyphicon-th-list"></i> 发现</h2>
            <ul class="nav nav-tabs pull-right">
                <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="#">Profile</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
            </ul>
        </div>
        <div class="col-lg-12">
            <ul class="media-list">
                <li class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" alt="64x64" data-src="holder.js/64x64" src="http://www.wojilu.com/Forum1/Post/19222" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">哈哈北京</h4>
                        ..dfsafdsafdsa.
                    </div>

                </li>

                <li class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" alt="64x64" data-src="holder.js/64x64" src="http://www.wojilu.com/Forum1/Post/19222" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">哈哈北京</h4>
                        ..dfsafdsafdsa.
                    </div>
                </li>
                <li class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" alt="64x64" data-src="holder.js/64x64" src="http://www.wojilu.com/Forum1/Post/19222" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">哈哈北京</h4>
                        ..dfsafdsafdsa.
                    </div>
                </li>
                <li class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" alt="64x64" data-src="holder.js/64x64" src="http://www.wojilu.com/Forum1/Post/19222" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">哈哈北京</h4>
                        ..dfsafdsafdsa.
                    </div>
                </li>
                <li class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" alt="64x64" data-src="holder.js/64x64" src="http://www.wojilu.com/Forum1/Post/19222" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">哈哈北京</h4>
                        ..dfsafdsafdsa.
                    </div>
                </li>
                <li class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" alt="64x64" data-src="holder.js/64x64" src="http://www.wojilu.com/Forum1/Post/19222" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">哈哈北京</h4>
                        ..dfsafdsafdsa.
                    </div>
                </li>
                <li class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" alt="64x64" data-src="holder.js/64x64" src="http://www.wojilu.com/Forum1/Post/19222" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">哈哈北京</h4>
                        ..dfsafdsafdsa.
                    </div>
                </li>
                <li class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" alt="64x64" data-src="holder.js/64x64" src="http://www.wojilu.com/Forum1/Post/19222" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">哈哈北京</h4>
                        ..dfsafdsafdsa.
                    </div>
                </li>
                <li class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" alt="64x64" data-src="holder.js/64x64" src="http://www.wojilu.com/Forum1/Post/19222" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">哈哈北京</h4>
                        ..dfsafdsafdsa.
                    </div>
                </li>
                <li class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" alt="64x64" data-src="holder.js/64x64" src="http://www.wojilu.com/Forum1/Post/19222" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">哈哈北京</h4>
                        ..dfsafdsafdsa.
                    </div>
                </li>
                <li class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" alt="64x64" data-src="holder.js/64x64" src="http://www.wojilu.com/Forum1/Post/19222" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">哈哈北京</h4>
                        ..dfsafdsafdsa.
                    </div>
                </li>
                <li class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" alt="64x64" data-src="holder.js/64x64" src="http://www.wojilu.com/Forum1/Post/19222" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">哈哈北京</h4>
                        ..dfsafdsafdsa.
                    </div>
                </li>
                <li class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" alt="64x64" data-src="holder.js/64x64" src="http://www.wojilu.com/Forum1/Post/19222" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">哈哈北京</h4>
                        ..dfsafdsafdsa.
                    </div>
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>
#{set 'moreScripts' }
<script src="/public/javascripts/holder/holder.min.js"></script>
#{/set}

